// Fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
  color: white;
  font-family: $font;
}
body{
  background-color: $body-bg;
}
.card-header{
  background-color: $indigo;
}
.card-body{
  background-color: $purple;
}
button{
  background-color: $indigo;
  color: white;
}